# Virtual env
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env / secrets
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/


deploy_aws/