{% load static %}
<header class="site-header" role="banner">
	<div class="site-header__inner">
		<a class="brand" href="{% url 'weekly:home' %}">
			<img class="brand__logo" src="{% static 'images/logo.png' %}" alt="" width="120" height="36">
		</a>
		<div class="site-header__actions">
			{% if user.is_authenticated %}
				<span>Signed in as {{ user.username }}</span>
				<form class="form-inline-logout" method="post" action="{% url 'weekly:logout' %}">
					{% csrf_token %}
					<button type="submit" class="link-button">Sign out</button>
				</form>
			{% else %}
				<a href="{% url 'weekly:login' %}">Sign in</a>
			{% endif %}
		</div>
	</div>
</header>
